.grid-container {
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 50px 150px;
    gap: 5px;
    }
    .item {
    
    background-color: #17a2b8;
    text-align: center;
    color: white;
    line-height: 50px;
    }
